<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{siteroot}}example.css">
</head>
<body class="twig">

    You are here: /{% for item in breadcrumbs %}{{item}}/{% endfor %}{{pagename}}

    {{ content | raw }}

</body>
</html>
